/*fonte*/
@font-face {
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 400;
	src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'),
		url(cIf6MapbsEk7TDLdtEz1BwkWn6pg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
		U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/*preloader*/
#carregando {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #347fc3;
}

.barLo {
	position: relative;
	height: 2px;
	width: 500px;
	margin: 0 auto;
	background: #fff;
	margin-top: 150px;
}

.circleLo {
	position: absolute;
	top: -30px;
	margin-left: -30px;
	height: 60px;
	width: 60px;
	left: 0;
	background: #fff;
	border-radius: 30%;
	-webkit-animation: move 5s infinite;
}

#loading {
	position: absolute;
	top: -35px;
	right: -85px;
	text-transform: uppercase;
	color: #347fc3;
	font-family: helvetica, sans-serif;
	font-weight: bold;
}

@-webkit-keyframes move { 
	0% {
		left: 0;
	}
	50%{
		left:100%;
		-webkit-transform: rotate(450deg);
		width:150px;
		height:150px;
	}
	75%{
		left:100%;
		-webkit-transform: rotate(450deg);
		width:150px;
		height:150px;
	}
	100%{
		right:100%;
	}
}

.form {
	width: 450px;
	padding: 10px;
}
#fundo div{
	width:450px;
}
#fundo{
	width: 575px;
	margin:0 auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Chakra Petch', "Arial", sans-serif !important;
}

.center {
	margin: 0 auto;
	background-color: #f90;
}

.slide {
	width: 80%;
	max-height: 500px;
	margin: 10px auto;
	box-shadow: 0px 2px 10px;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
	transition: width 0.5s ease;
}
.dim {
	width: 300px;
	height: 500px;
}

.img {
	width: 90%;
	height: 300px;
	margin: 0 auto;
}

#smart {
	background-color: #098;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	padding: 5px;
}

#pc {
	background-color: #095;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	padding: 5px;
}

ul.uls {
	width: 40%;
	margin: 0 auto;
}

@media screen and 	(max-width: 600px){
	#fundo {
		width: 80%;
		margin-top: 20px;
		transition: all .5s;
	}
	.form{
		width: 80%;
	}
	#fundo div{
		width: 100%;
	}
}
@media screen and (max-width: 1542px) {
	.slide {
		width: 90%;
	}
}

